<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @idea.content %>
</p>

<p>
  <b>Vote:</b>
  <%= @idea.vote %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
