<%- model_class = Setting -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= form_for @setting, :url => admin_settings_path, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :slogan, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slogan, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :app_version, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :app_version, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_settings_path, :class => 'btn' %>
    </div>
<% end %>
